.home img{
    width: 100%;
    height: 320px;
}
.quizes{
    margin:20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
}

@media only screen and (max-width: 767px) {
    .quizes{
        margin:20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:10px;
    }
}