.hub {
    background-color: #71ef95;
    padding: 5px 10px;
    border-radius: 5px;
    color: #f0f8ff;
}

.header {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #71ef95;
}

.header a {
    text-decoration: none;
    color: #71ef95;
}

.routes {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: large;
    
}

.routes p {
    padding-right: 40px;
}

.routes a:hover {
    border-bottom: #caf7d7 solid 5px;
}

.active {
    border-bottom: #80f3a0 solid 5px;
}

.quiz-hub {
    margin-left: 20px;
}

.user-name{
    border: 2px solid #5fff8d;
    border-radius: 5px;
    padding:3px 10px 3px 10px;
    color:rgba(63, 62, 62, 0.559);
    /* background-color: rgba(174, 173, 173, 0.45); */
    font-weight: bold;
}